@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');

body{
    margin: 0%;
}

.fitter{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 720px){ 

    .header_box_des{
        display: none;
    }
    .header_box_tab{
        display: none;
    }
    .header_box_mob{
        height: 8.75%;
        flex-shrink: 0;
        background: #000;
        display: flex;
        justify-content: center;
    }

    .main_founders_des_tab{
        display: none;
    }
    .main_founders_mob{
        justify-content: center;
        height: 100%;
        width: 30%;
    }

    .footer_box_des_tab{
        display: none;
    }
    .footer_box_mob{
        height: 36.4375vh;
        flex-shrink: 0;
        background: #000;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 720px) and (max-width: 1080px){

    .header_box_mob{
        display: none;
    }
    .header_box_des{
        display: none;
    }
    .header_box_tab{
        flex-shrink: 0;
        height: 5.85%;
        background: #000;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

    .main_founders_mob{
        display: none;
    }
    .main_founders_des_tab{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 70%;
    }
    
    .footer_box_mob{
        display: none;
    }
    .footer_box_des_tab{
        flex-shrink: 0;
        height: 9.85vh;
        background: #000;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 1080px){

    .header_box_mob{
        display: none;
    }
    .header_box_tab{
        display: none;
    }
    .header_box_des{
        height: 13.25vh;
        margin: 0%;
        top: 1vmax;
        border-radius: 0px 0px 20px 20px;
        border-bottom: 1px solid #8E8E8E;
        border-left: 1px solid #8E8E8E;
        border-right: 1px solid #8E8E8E;
        display: flex;
        justify-content: center;
    }

    .main_founders_mob{
        display: none;
    }
    .main_founders_des_tab{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 70%;
    }

    .footer_box_mob{
        display: none;
    }
    .footer_box_des_tab{
        flex-shrink: 0;
        height: 9.85vh;
        background: #000;
        display: flex;
        justify-content: center;
    }

}

.flexer{
    display: flex;
}

.list_cleaner{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.straighter{
    display: flex;
    justify-content: center;
}

.head_menu_icon_mob{
    width: 4.237vh;
    height: 4.237vh;
    flex-shrink: 0;
    object-fit: contain;
    margin-top: 1.8vh;
    padding-right: 45vw;
    margin-bottom: 1.4vh;
}

.head_menu_icon_tab{
    width: 4.237vh;
    height: 4.237vh;
    flex-shrink: 0;
    object-fit: contain;
    margin-left: 90vw;
    margin-top: 0.75vh;
}

.button_transper{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
}

.head_logo_img{
    width: 17.358vh;
    height: 9.28vh;
    flex-shrink: 0;
    object-fit: contain;
    margin-top: 2vh;
}

.head_nav_tab{
    background: #000;
    text-align: center;
    position: sticky;
}

.head_nav_mob{
    background: #000;
    text-align: center;
    position: sticky;
}

.header_dropdown_mob{
    width: 100vw;
    padding-top: 2vh;
    position: sticky; 
    flex-shrink: 0;
    height: 16.28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_dropdown_tab{
    width: 100vw;
    position: sticky; 
    flex-shrink: 0;
    height: 25.28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.header_links_tab{
    text-decoration: none;
    flex-shrink: 0;
    font-size: 2.75vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(143, 143, 143);
    height: 2.83vh;
    margin: 1vh 0;
}

.header_links_des:hover{
    color: rgb(143, 143, 143);
}

.header_links_des:active{
    color: rgb(143, 143, 143);
}

.header_links_des[tabindex]:focus {
    color:rgb(143, 143, 143);
    outline: none;
}


.header_links_tab:hover{
    color: rgb(35, 35, 35);
}

.header_links_tab:active{
    color: rgb(35, 35, 35);
}

.header_links_mob:active{
    color: rgb(35, 35, 35);
}

.header_buttons_mob{
    width: 20.5vw;
    height: 5.3vh;
    font-size: 2.75vh;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #8E8E8E;
    background-color: white;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
}

.header_buttons_mob ~ .header_buttons_mob {
    width: 20.5vw;
    height: 5.3vh;
    font-size: 2.75vh;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #8E8E8E;
    background-color: white;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
    margin-left: 1vw;
}

.button_text{
    font-size: 2.75vh;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button_text h3,h4{
    margin: 0%;
    padding: 0%;
}

.header_buttons_mob a{
    text-decoration: none;
}

.header_links_des{
    text-decoration: none;
    flex-shrink: 0;
    margin: 0vh 0vh 0vh 4.5vw;
    font-size: 2.5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5.62vh;
    color: black;
    height: 2.83vh;
}

.header_texts{
    margin: 0px;
}

.header_buttons_des:hover{
    margin-top: 4.2vh;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.header_buttons_des ~ .header_buttons_des:hover{
    margin-top: 4.2vh;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.header_buttons_des{
    width: 10.5vw;
    height: 5.3vh;
    font-size: 2.75vh;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #8E8E8E;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left: 16vw;
    margin-top: 4.25vh;
}

.header_buttons_des ~ .header_buttons_des {
    width: 10.5vw;
    height: 5.3vh;
    font-size: 2.75vh;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #8E8E8E;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left: 1.87vw;
    margin-top: 4.25vh;
    margin-right: 1vw;
    }

.button_centerer{
    width: 100%;
    display: block;    
    margin-top: 0.8vh;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.header_buttons_des a{
    text-decoration: none;
}

.button_centerer span{
    font-size: 2vh;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
}

.main_total{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_info{
    margin-top: 3vmin;
    width: 65%;
    height: 25%;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    text-align: center;
}

.main_info h1{
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1% 1% 1% 1%;
    margin: 0%;
}

.main_info h4{
    font-size: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1% 1% 1% 1%;
}

.main_founders_boxs_mob{
    padding: 30% 2% 2% 2%;
    width: 100%;
    height: 100%;
}

.main_founders_boxs_mob ~ .main_founders_boxs_mob{
    padding: 2% 2% 2% 2%;
    width: 100%;
    height: 100%;
}

.main_founders_mob div span h2{
    font-size: 2.5vmin;
    text-align: center;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_founders_des_tab div{
    padding: 2% 2% 2% 2%;
    width: 15%;
    height: 100%;
}

.main_founder_imgs{
    width: 100%;
    height: 50%;
}

.main_founder_imgs img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main_founders_des_tab div span h2{
    font-size: 2.5vmin;
    text-align: center;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_logo_img_mob{
    width: 27.1625vh;
    height: 19.875vh;
    flex-shrink: 0;
    object-fit: contain;
    margin-top: 2.25vh;
}

.footer_logo_img_des_tab{
    width: 11.5275vh;
    height: 6.625vh;
    flex-shrink: 0;
    object-fit: contain;
    margin-top: 1.5vh;
}

.divider{
    width: 78.75vw;
    height: 1px;
    background: #8E8E8E;
    margin-bottom: 4vh;
}

.footer_links_des_tab{
    text-decoration: none;
    flex-shrink: 0;
    margin: 0vh 0vh 0vh 66.45vw;
    margin-top: 3vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    height: 2.83vh;
    margin-right: 1.15vw;
}

.footer_links_des_tab[tabindex]:focus{
    color:rgb(143, 143, 143);
    outline: none;
}

.footer_links_mob{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.footer_texts_des_tab{
    margin: 0%;
    font-size: 2vh;
}

.footer_texts_mob{
    margin: 0%;
    font-size: 2.65vh;
    width: 100px;
    text-align: right;
    margin-left: 55vw;
}