@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');

body{
    margin: 0%;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

@media only screen and (max-width: 720px){

    .main_profile_picture_close_des_tab,.main_profile_picture_open_des_tab{
        margin-right: 20%;
    }

    .main_total_mob{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
    }
    .main_total_des_tab{
        display: none;
    }

    .modal{
        position: absolute;
        z-index: 1;
        padding-top: 9vh;
        padding-right: 2vh;
        margin-left: calc(70vw - 10px);
        right: 0;
        top: 0;
        height: 77%;
        overflow: hidden;
        background-color: transparent;
        pointer-events: none; 
    }
    
    .modal-content{
        margin: auto;
        padding: 0.5%;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #8E8E8E;
        background-color: white;
        width: 12%;
        min-width: 120px;
        max-width: 7vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        pointer-events: all; 
    }

    
    .main_view_content_title{
        font-size: 3vh;
    }

    .main_view_content_text{
        font-size: 2vh;
    }

    .temp_screen{
        width: 90%;
        height: 70%; 
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
      }
      
      .temp_screen video{
        margin-top: 25%;
        width: 50vh;
        height: 50vh;  
      }
      
      .temp_screen h3{
        font-size: 1.95vh;
        font-family: "M Plus 1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-shrink: 0;
        width: 100%;
        height: 15%;
        text-align: center;
      }

    .temp_text{
        font-size: 1.6vh;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-shrink: 0;
        width: 100%;
        height: 15%;
        text-align: center;
      }
}

@media only screen and (min-width: 720px){

    .main_total_mob{
        display: none;
    }
    .main_total_des_tab{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .modal{
        position: absolute;
        z-index: 1;
        padding-top: 15.4vh;
        margin-right: 3vw;
        right: 0;
        top: 0;
        height: 77%;
        overflow: hidden;
        background-color: transparent;
        pointer-events: none; 
    }
    
    .modal-content{
        margin: auto;
        padding: 0.5%;
        flex-shrink: 0;
        border-radius: 25px;
        border: 1px solid #8E8E8E;
        background-color: white;
        width: 12vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        pointer-events: all; 
    }

    .main_view_content_title{
        font-size: 230%;
    }

    .main_view_content_text{
        font-size: 110%;
    }

    .temp_screen{
        width: 100%;
        height: 70%; 
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
      }
      
      .temp_screen video{
        margin-top: 5%;
        width: 50vh;
        height: 50vh;  
      }
      
      .temp_screen h3{
        font-size: 1.95vh;
        font-family: "M Plus 1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-shrink: 0;
        width: 100%;
        height: 15%;
        text-align: center;
      }

      .temp_text{
        font-size: 1.95vh;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-shrink: 0;
        width: 100%;
        height: 15%;
        text-align: center;
      }
}

.flexer{
    display: flex;
}

.list_cleaner{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.straighter{
    display: flex;
    justify-content: center;
}

.main_selection_part_des_tab{
    width: 15.75vw;
    height: 97.5625vh;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_view_part_des_tab{
    margin-left: 0.45vw;
    width: 82.75vw;
    height: 97.5625vh;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_scroll{
    height: 98%;
    width: 95%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.main_scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.main_view_part_des_tab div{
    width: 97%;
}

.main_view_profile_part{
    margin-top: 1%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_view_profile_part div{
    height: 100%;
    width: 50%;
}

.main_bookmarks_part{
    display: flex;
    justify-content: left;
}

.main_bookmarks_part span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_profile_picture_part{
    display: flex;
    justify-content: right;
}

.main_profile_picture_part span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_profile_picture_close_des_tab,.main_profile_picture_open_des_tab{
    border-radius: 5%;
    height: 4vh;
    width: 4vh;
    background-color: #FFF;
}

.main_subscribe_des_tab,.main_unsubscribe_des_tab{
    border-radius: 10%;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #FFF;
}

@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  @keyframes scaleAnimationReverse {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.main_view_main_part_des_tab{
    margin-top: 1%;
    height: 85.5%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.main_view_main_part_des_tab::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.main_view_content_des_tab{
    margin-top: 1%;
    height: auto;
    width: 98%;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main_view_content_title{
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    width: 94%;
    word-wrap: break-word;
}

.main_view_content_text{
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3.2%;
    width: 94%;
    word-wrap: break-word;
}

.container{
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 400px; 
    overflow: hidden; 
    position: relative; 
    border-radius: 25px;
    max-width: 95%;
}

.container_mob{
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 200px; 
    overflow: hidden; 
    position: relative; 
    border-radius: 25px;
    max-width: 95%;
}

.container_mob img{
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.container img{
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.image-popup img {
    max-width: 90%;
    max-height: 90%;
}

.main_view_content_reaction{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3.5%;
    display: flex;
    justify-items: start;
    width: 100%;
    height: auto;
}

.content_span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_span ~ .content_span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.content_span h2{
    font-size: 110%;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    width: auto;
    margin-left: 10%;
}

.content_controls{
    width: 3.5vh;
    height: 3.5vh;
}

.main_scroll_content_des_tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: #FFF;
    height: 15%;
    width: 98%;
    overflow: hidden;
}

.main_scroll_content_des_tab ~ .main_scroll_content_des_tab{
    margin-top: 2%;
}

.main_scroll_picture_des_tab {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.main_scroll_content_des_tab:hover .main_scroll_picture_des_tab {
    transform: scale(1.1);
}

.main_scroll_content_des_tab:focus .main_scroll_picture_des_tab {
    transform: scale(1.1);
}

.main_view_part_mob{
    height: 97.5625vh;
    width: 99.1vw;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_view_manage_mob{
    width: 97%;
    height: 6.5%;
    display: flex;    
    align-items: center;
}

.main_view_bookmark{
    display: flex;
    justify-content: left;
    width: 50%;
    height: 100%;
}

.main_view_bookmark span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}

.main_view_profile{
    display: flex;
    justify-content: right;
    width: 50%;
    height: 100%;
}

.main_view_profile span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    margin-top: 2%;
}

.main_view_scroll_mob{
    height: 84%;
    width: 97%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.main_view_scroll_mob::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scroll_content{
    height: auto;
    width: 98%;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.content_controls_mob{
    width: calc(40% - 2vw);
    height: auto; 
}

.content_span_mob{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}

.content_span_mob ~ .content_span_mob{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.content_span_mob h2{
    font-size: 2vh;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-shrink: 0;
    width: auto;
    margin-left: 10%;
}

.main_select_part_mob{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 97%;
    height: 9%;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #8E8E8E;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.main_scroll_space_mob{
    height: 99%;
    width: 95%;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
}

.main_scroll_content_mob{
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: #FFF;
    height: 98%;
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
}

.main_scroll_content_mob ~ .main_scroll_content_mob{
    margin-left: 2%;
}

.main_scroll_picture_mob {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.main_scroll_content_mob:focus .main_scroll_picture_mob {
    transform: scale(1.1);
}

.modal-content a{
    text-decoration: none;
    color: black;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
    flex-shrink: 0;
    font-size:calc(11px + 0.5vw);
}

.modal-content a:active{
    color: #7ed957;
}

.modal-content a:focus{
    color: #7ed957;
}

.modal-content a:hover{
    color: #7ed957;
}

.modal-content h3{
    margin: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.main_parter_mob{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
